@charset "utf-8";

#sidenav
{
    width: 7.5%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: #3B5998;
    min-width: 50px;
    z-index: 1;
    box-shadow: 1px 1px 5px black;
}
.index-pop
{
    transition: .5s all ease;
    padding: .9%;
    position: fixed;
    float: right;
    margin-left: 6.5%;
    margin-bottom: 5%;
    background-color: #333333;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 0;
    box-shadow: 2.5px 2.5px 5px #8d9aa5;
    z-index: 1;
}
#navhover:hover p
{
    margin-left: 9%;
    opacity: 1;
    z-index: 1;
}
#space
{
    height: 6%;
    min-height: 30px;
}
#header
{
    width: 100%;
    float: left;
    height: 5%;
    min-height: 30px;
    position: fixed;
    background-color: #3B5998;
    box-shadow: 1px 1px 5px black;
    z-index: 2;
}
#all
{
    margin-top: 30px;
    width: 90%;
    height: 1000px;
    float: right;
    z-index: -1;
}
#titles
{
    transition: all .5s ease;
    position: absolute;
    float: left;
    height: 80%;
    margin: auto;
    margin-top: .35%;
    margin-left: 5px;
    -webkit-filter: invert(100%);
}
#titles:hover
{
    padding-left: .5%;
    -webkit-filter: invert(0%);
}
#FB
{
    transition: all .5s ease;
    height: 100%;
    padding-right: 0%;
    float: right;
    -webkit-filter: invert(100%);
}
#FB:hover
{
    padding-right: .5%;
    -webkit-filter: invert(0%);
}
a
{
    text-decoration: none;
    color: black;
}
[class^="img"]
{
    display: inline-block;
    width: inherit;
}
[class^="img"] img
{
    display: block;
    width: inherit;
}
.img-100 img
{
    transition: all .5s ease;
    padding-left: 10%;
    padding-top: 10%;
    max-width: 80%;
    min-width: 50%;
    -webkit-filter: invert(100%);
}
.img-100 img:hover
{
    padding-left: 5%;
    padding-top: 15%;
    max-width: 90%;
    min-width: 60%;
    -webkit-filter: invert(0%);
}
.img-1000
{
    width: 100%;
    margin-left: -1.25%;  
}
#nav
{
    list-style: none;
}
#codearea
{
    float: right;
    width: 10%;
    height: 50%;
    z-index: -200;
}
#submitButton
{
    z-index: -1;
}
#runButton
{
    z-index: -1;
}    
#gameCanvas
{
    float: right;
    width: 100%;
    height: 50%;
}

<!-- Home -->
#Title
{
    width: 100%;
    height: 25%;
    float: left;
}

#Title h1
{
    text-align: center;
}

#Picture
{
    width: 100%;
    height: 25%;
    float: left;
}

#Leaderboards
{
    width: 100%;
    height: 25%;
    float: left;
}

#About
{
    width: 100%;
    height: 25%;
    float: left;
}

#testarea
{
    z-index:-1;
}